body {
    margin: 0;
}

.atmosphere {
    background-color: paleturquoise;
    height: 20vh;
}

.ocean {
    background-color: skyblue;
    margin: 0;
    padding: 0;
    height: 80vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Add this line */
}

.ocean::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Change this line to cover the entire .ocean */
    background: url("https://www.transparenttextures.com/patterns/wavecut.png");
    opacity: 1;
    animation: wave 20s linear infinite;
}

@keyframes wave {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

.fish {
    position: absolute;
    border-radius: 50%;
    box-shadow: -10px 0 0 rgba(0, 0, 0, 0.2);
    /* Effet d'œil */
    transition: transform 0.2s;
    /* Effet visuel pour le clic */
}

.fish:hover {
    transform: scale(1.2);
    /* Agrandissement lors du survol */
}

.boutique {
    position: absolute; /* Ou relative selon le contexte */
    top: 0; /* Optionnel : ajustez si nécessaire */
    bottom: 0;
    right: 0;
    width: 20%; /* 20% de la largeur de l'écran */
    height: 100%; /* Optionnel : ajustez pour la hauteur */
    background-color: rgb(64, 164, 194); /* Couleur pour mieux visualiser */
  }
.compteurPoisson
{
    position: absolute;
}