<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poisson qui nage</title>
    <link rel="stylesheet">
</head>

<body>
    <style>
        body {
            margin: 0;
            overflow: hidden;
            background-color: #87CEEB;
            /* Couleur de fond */
            font-family: Arial, sans-serif;
        }
    </style>
    <script src="../model/Poisson.js"></script>
</body>

</html>